<style>
    body {
        margin: 0;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: antiquewhite;
    }
</style>
<div></div>

<script>
    const div = document.querySelector('div');
    let c = 0
    div.addEventListener('mousemove', function(e) {
        const x = e.pageX;
        const y = e.pageY;
        const cxy = `X = ${x}, Y = ${y}`;
        div.textContent = cxy;
    });
    div.addEventListener('mouseup', function(e) {
        switch(e.button) {
            case 0:
                btn = 'Left';
                break;
            case 2:
                btn = 'Right';
                break;
        }
        alert('Button: ' + btn);
    });
    div.oncontextmenu = (e) =>  e.preventDefault();
</script>