<style>
  body {
    margin: 0;
    font-size: 1.2em;
  }
  main {
    max-width: 50%;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 1em;
  }
  p {
    margin: 0;
  }
  .view,
.edit {
  width: 100%;
  height: fit-content;
  font-family: sans-serif;
  font-size: 14px;
  display: block;
}

.view {
  /* padding + border = 3px */
  padding: 2px;
  border: 1px solid black;
}

.edit {
  /* замінити padding на border (3px щоб не зміщувати вміст) */
  padding: 0px;
  height: 300;
}

.edit:focus {
  /* позбутися рамки при фокусуванні в Safari */
  outline: none;
}
</style>
<main>
  <p>Press Ctrl+E for edit text</p>
  <p>Press Ctrl+S for save text</p>
  <hr />
  <div id="view">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quod iste
    nulla qui alias non veniam ex voluptatem ducimus fugiat.
  </div>
</main>

<script>
  let area = document.createElement("textarea");
  area.className = 'edit';
  
  const view = document.querySelector("#view");

  document.addEventListener("keydown", function (e) { 
    if ((e.code == "KeyE") & e.ctrlKey) {
      e.preventDefault();
      area.value = view.innerHTML;
      view.replaceWith(area);
      area.focus();
    } else if ((e.code == "KeyS") & e.ctrlKey) {
      e.preventDefault();
      area.blur();
      if (area.value)
        view.innerHTML = area.value;
      area.replaceWith(view);
    }
  });
</script>
