<style>
    body {
        margin: 0;
    }
    .area {
       
        width: 100vw;
        height: 100vh;
        background-color: antiquewhite;
        position: relative
    }
    div.square {
        width: 50px;
        aspect-ratio: 1 / 1;
        border: 1px solid red;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
<div class="area">
    <div class="square">
    </div>
</div>

<script>
    const area = document.querySelector('.area');
    const square= document.querySelector('.square');
    area.addEventListener('click', function(e) {
        const x =e.clientX - square.offsetWidth   / 2;
        const y =  e.clientY - square.offsetHeight / 2;
        square.style.top = y;
        square.style.left = x;
    });
</script>