<main>
    <input type="text" id="input">
    <p>Нажатая клавиша: <span id="key"></span></p>
</main>

<script>
    const input = document.querySelector('#input');
    const key = document.querySelector('#key');
    input.addEventListener('input', function(e) {
        // if(e.data == null)
        //     console.log(input.value.at(-1));
        //     key.textContent = input.value.at(-1);
        //     return;
        key.textContent = e.data;
    })
</script>