<span class ='paint'>Click</span>

<script>
    const paint = document.querySelector('.paint');

    paint.addEventListener('click', function(e) {
        color = 'white';
        if(e.altKey)
            color = 'green';
        else if(e.ctrlKey || e.metaKey)
            color = 'red';
        else if(e.shiftKey)
            color = 'blue';
        
        paint.style.color = color;
    });
</script>