<button id="add">Add</button>
<ul>
  <li><span>li</span> li*1</li>
  <li>li*2</li>
  <li>li*3</li>
  <li>li*4</li>
  <li>li*5</li>
</ul>

<script>
  const ul = document.querySelector("ul");
  const add = document.querySelector("#add");
  add.onclick = (e) => ul.insertAdjacentHTML("beforeend", "<li>Inserted</li>");

  ul.addEventListener("click", function (e) {
    const li = e.target.closest("li");
    if (!li) return;
    li.style.backgroundColor = 'yellow';
  });
  
</script>
