<main>
  <p><label for="input">Enter your name (non-digts)</label></p>

  <p><input type="text" id="input" /></p>
</main>
<script>
  const input = document.querySelector("#input");
  input.addEventListener("keydown", function (e) {
    if (isNumeric(e.key)) {
        e.preventDefault();
    }
  });
  function isNumeric(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
  }
</script>
