<style>
  main {
    width: 100vw;
    height: 100vh;
  }
  body {
    margin: 0;
  }
  #field {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 10px solid black;
    background-color: #00ff00;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  #ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    transition: all 1s;
  }
</style>
<main>
  <div id="field">
    <img src="https://en.js.cx/clipart/ball.svg" id="ball" />
  </div>
</main>
<script>
  field.addEventListener("click", function (event) {
    let fieldCoords = this.getBoundingClientRect();
    console.log(field.clientTop);
    let ballCoords = {
      top:
        event.clientY -
        fieldCoords.top -
        field.clientTop -
        ball.clientHeight / 2,
      left:
        event.clientX -
        fieldCoords.left -
        field.clientLeft -
        ball.clientWidth / 2,
    };

    // забороняємо перетинати верхню межу поля
    if (ballCoords.top < 0) ballCoords.top = 0;

    // забороняємо перетинати ліву межу поля
    if (ballCoords.left < 0) ballCoords.left = 0;

    // забороняємо перетинати праву межу поля
    if (ballCoords.left + ball.clientWidth > field.clientWidth) {
      ballCoords.left = field.clientWidth - ball.clientWidth;
    }

    // забороняємо перетинати нижню межу поля
    if (ballCoords.top + ball.clientHeight > field.clientHeight) {
      ballCoords.top = field.clientHeight - ball.clientHeight;
    }

    ball.style.left = ballCoords.left + "px";
    ball.style.top = ballCoords.top + "px";
  });
</script>
