<style>
    ul span:hover {
      font-weight: bold;
    }

    ul span {
      cursor: pointer;
    }
  </style>
<main>
  <ul class="tree" id="tree">
    <li>
      This PC
      <ul>
        <li>
          Local Disk (C:)
          <ul>
            <li>Program Files</li>
            <li>Users</li>
            <li>Windows</li>
          </ul>
        </li>
        <li>Local Disk (D:)
            <ul>
                <li>New Folder 1</li>
                <li>New Folder 2</li>
                <li>New Folder 3</li>
            </ul>
        </li>
        <li>Local Disk (E:)</li>
    </ul>
    </li>
  </ul>
</main>
<script>
    // помістіть кожен текстовий вузол у елемент <span>
    for (let li of tree.querySelectorAll('li')) {
      let span = document.createElement('span');
      li.prepend(span);
      span.append(span.nextSibling); 
    }

   
    tree.addEventListener('click',function(e) {

      if (e.target.tagName != 'SPAN') {
        return;
      }

      let childrenContainer = e.target.parentNode.querySelector('ul');
    
      if (!childrenContainer) return;

      childrenContainer.hidden = !childrenContainer.hidden;
    });
  </script>
