<style>
    .selected {
      background: orange;
    }

    li {
      cursor: pointer;
    }
</style>
<main>
<ol id="shelf">
    <li>Lorem, ipsum.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet consectetur.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum.</li>
</ol>
</main>
<script>
    const ul = document.querySelector('#shelf');
    let last;
    console.log(ul);
    ul.addEventListener('click',function(event) {
      if (event.target.tagName != "LI") return;

      if (event.ctrlKey || event.metaKey) {
        toggleSelect(event.target);
      }
      else if(event.shiftKey) {
        console.log(last, event.target);
        multipleSelect(last, event.target);
      }
       else {
        singleSelect(event.target);
      }
      last = event.target;
    });
    // запобігаємо непотрібному виділенню елементів списку при натисканні
    ul.onmousedown = function() {
      return false;
    };

    function toggleSelect(li) {
      li.classList.toggle('selected');
    }

    function singleSelect(li) {
      let selected = ul.querySelectorAll('.selected');
      for(let elem of selected) {
        elem.classList.remove('selected');
      }
      li.classList.add('selected');
    }
    function multipleSelect(from, to) {
        let selected = ul.querySelectorAll('li');
        let inBetween = false;
        to.classList.add('selected');
        for (let elem of selected) {
          if(elem === from || elem === to) {
            console.log('ok');
            inBetween = !inBetween;
          }
          if(inBetween) {
            elem.classList.add('selected');
          }
        }
    }
</script>