<link rel="stylesheet" href="styles.css">
<main>
<section>
<table>
    <caption>Full Name</caption>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</section>
<section>
  <div>
    <form action="/action_page.php">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
     
    
      <input type="submit" name="submit" id="submit" value="Submit">
    </form>
  </div>
  
</form>
</section>
</main>
<script>
    const submit = document.querySelector('#submit');
	const table = document.querySelector('table');
	const form = document.querySelector('form');
    form.addEventListener('submit', function(e) {
	  e.preventDefault()
	  console.log('ok');
	  const first = form.firstname.value;
	  const last = form.lastname.value;
	  if(first.length && last.length) {
		table.tBodies[0].insertAdjacentHTML('beforeend',`<tr><td>${first}</td><td>${last}</td></tr>`);
	  }
	
    });
</script>